SET ANSI_NULLS OFF
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[agdArchivoLog](
	[ID] [int] NOT NULL,
	[Nombre] [varchar](255) NULL,
	[Fecha] [datetime] NULL,
	[Ok] [int] NULL,
	[OkRef] [varchar](255) NULL,
 CONSTRAINT [pk_agdArchivoLog] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
