SET ANSI_NULLS OFF
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[agdCartaCupoArchivo](
	[ID] [int] NOT NULL,
	[RID] [int] IDENTITY(1,1) NOT FOR REPLICATION NOT NULL,
	[TipoArchivo] [varchar](20) NULL,
	[Nombre] [varchar](100) NULL,
	[Fecha] [datetime] NULL,
	[Firma] [varchar](20) NULL,
 CONSTRAINT [pk_agdCartaCupoArchivo] PRIMARY KEY CLUSTERED 
(
	[ID] ASC,
	[RID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
